
<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Qué-es-Mongo-DB?" data-toc-modified-id="¿Qué-es-Mongo-DB?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Qué es Mongo DB?</a></span></li><li><span><a href="#Importar-datos-a-MongoDB-Compass" data-toc-modified-id="Importar-datos-a-MongoDB-Compass-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importar datos a MongoDB Compass</a></span></li><li><span><a href="#¿Cómo-nos-conectamos-con-MongoDB?" data-toc-modified-id="¿Cómo-nos-conectamos-con-MongoDB?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>¿Cómo nos conectamos con MongoDB?</a></span><ul class="toc-item"><li><span><a href="#Buscar-datos-en-nuestra-BBDD." data-toc-modified-id="Buscar-datos-en-nuestra-BBDD.-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Buscar datos en nuestra BBDD.</a></span></li></ul></li><li><span><a href="#Sintaxis-básica-de-consultas-(find()-y-distinct())" data-toc-modified-id="Sintaxis-básica-de-consultas-(find()-y-distinct())-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sintaxis básica de consultas (<code>find()</code> y <code>distinct()</code>)</a></span><ul class="toc-item"><li><span><a href="#find()" data-toc-modified-id="find()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>find()</code></a></span></li><li><span><a href="#find_one()" data-toc-modified-id="find_one()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>find_one()</code></a></span></li><li><span><a href="#distinct()" data-toc-modified-id="distinct()-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span><code>distinct()</code></a></span></li></ul></li><li><span><a href="#Operadores-de-Consulta" data-toc-modified-id="Operadores-de-Consulta-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Operadores de Consulta</a></span><ul class="toc-item"><li><span><a href="#Operadores-lógicos" data-toc-modified-id="Operadores-lógicos-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Operadores lógicos</a></span></li><li><span><a href="#Operadores-de-elemento" data-toc-modified-id="Operadores-de-elemento-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Operadores de elemento</a></span></li><li><span><a href="#Otros-operadores" data-toc-modified-id="Otros-operadores-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Otros operadores</a></span></li></ul></li><li><span><a href="#Proyecciones" data-toc-modified-id="Proyecciones-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Proyecciones</a></span></li><li><span><a href="#Otros-métodos" data-toc-modified-id="Otros-métodos-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Otros métodos</a></span><ul class="toc-item"><li><span><a href="#sort()" data-toc-modified-id="sort()-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>sort()</code></a></span></li><li><span><a href="#limit()" data-toc-modified-id="limit()-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>limit()</code></a></span></li><li><span><a href="#skip()" data-toc-modified-id="skip()-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span><code>skip()</code></a></span></li><li><span><a href="#count_documents()" data-toc-modified-id="count_documents()-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span><code>count_documents()</code></a></span></li></ul></li><li><span><a href="#Agregaciones-en-Mongo" data-toc-modified-id="Agregaciones-en-Mongo-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Agregaciones en Mongo</a></span></li><li><span><a href="#Fechas-con-Mongo" data-toc-modified-id="Fechas-con-Mongo-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Fechas con Mongo</a></span></li><li><span><a href="#Índices" data-toc-modified-id="Índices-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Índices</a></span></li><li><span><a href="#Consultas-Geoespaciales" data-toc-modified-id="Consultas-Geoespaciales-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Consultas Geoespaciales</a></span><ul class="toc-item"><li><span><a href="#near()" data-toc-modified-id="near()-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span><code>near()</code></a></span></li><li><span><a href="#geoNear()" data-toc-modified-id="geoNear()-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span><code>geoNear()</code></a></span></li><li><span><a href="#geoWithin" data-toc-modified-id="geoWithin-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>geoWithin</a></span></li></ul></li></ul></div>

# ¿Qué es Mongo DB?

Una base de datos no relacional, también conocida como NoSQL (not only SQL), no almacena la información en filas, lo que permite almacenar esta información de forma más flexible y menos estructurada.

MongoDB es una base de datos no relacional documental, es decir, que almacena documentos, cuyos registros se almacenan en archivos BSON (derivados de los archivos tipo JSON).

Definamos ahora algunos conceptos básicos que nos vamos a encontrar en MongoDB.
* **Campo**: Único dato almacenado dentro de un documento. En una base de datos relacional sería un dato individual de una columna.

* **Documentos**: Serían los registros de nuestra colección. Sería el equivalente a las filas de una base de datos SQL

* **Colecciones**: Son agrupaciones de documentos. Si hiciéramos una analogía con las bases de datos relacionales serían equivalentes a las tablas, salvo que en este caso no tienen un esquema fijo para guardar la información.

* **Bases de datos**: Son el conjunto de nuestras colecciones. Para una base de datos SQL sería el conjunto de sus tablas con las relaciones entre ellas.


Además, MongoDB acepta unos tipos de datos concretos. Los principales los vamos a enumerar a continuacion, el resto puedes encontrarlos en la documentación.

* **String**: Representa cadenas de texto.

* **Number**: Representa números enteros o decimales.

* **Boolean**: Representa valores booleanos true/false (True/False)
.
* **Date**: Representa fechas y horas.

* **ObjectId**: Representa identificadores únicos de documentos en MongoDB.

* **Array**: Representa una lista ordenada de elementos.

* **Embedded** Document: Representa documentos embebidos dentro de otros documentos.

* **Binary Data**: Puede mostrar datos binarios, como imágenes o archivos, en formato codificado.

* **Regular Expression**: Representa expresiones regulares.

* **UUID**: Representa un identificador único universal (UUID).

* **Decimal128**: Representa números decimales de precisión arbitraria.

# Importar datos a MongoDB Compass

Para poder importar datos en MongoDB y crear nuestras primeras bases de datos y colecciones, debemos seguir los pasos que se muestran en el siguiente vídeo. Recomendamos descargar el vídeo para verlo con mejor calidad.


<video src="videos/ImportarDatosMongo.mov" width="520" height="240" controls></video>

In [1]:
# antes de importar la librería tendremos que instalarla
#!pip install pymongo

In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Para trabajar con datos de tipo fecha
# ------------------------------------------------------------------------------
from datetime import datetime

# Para trabajar con Mongo
# ------------------------------------------------------------------------------
import pymongo

# Para utilizar nuestras funciones
# ------------------------------------------------------------------------------
from src import soporte_mongo as sm

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# ¿Cómo nos conectamos con MongoDB?

In [3]:
# lo primero que tenemos que hacer es conectarnos con Mongo
cliente = pymongo.MongoClient()
print(cliente)

# como la conexión se ha realizado con éxito vamos a ver las bases de datos que tenemos
cliente.list_database_names()

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

['Airbnb', 'admin', 'bbdd_api_foursquare', 'config', 'local']

Como podemos ver nos aparecen 3 bases de datos por defecto (*admin*, *config* y *local*) y las bases de datos que hayamos cargado previamente a MongoDB. Estas tres bases de datos por defecto son muy importantes para el funcionamiento del programa, vamos a ver las funcionalidades de cada una:

- La base de datos *admin* sirve para almacenar colecciones de sistema y autenticaciones tanto  de usuario como de datos, que incluyen nombres de usuario, contraseñas y roles. Su acceso está permitido únicamente al rol de administrador, el cual es el único con capacidad de crear, actualizar y eliminar usuario o asignar roles.

- La base de datos *config* almacena todos los metadatos de configuración de Mongo. 

- La base de datos *local* almacena datos utilizados en procesos de replicación y otros datos específicos.

## Buscar datos en nuestra BBDD.
Hasta ahora sólo hemos introducido datos en nuestra BBDD. El siguiente paso natural es poder obtener datos de la misma. Primero tendremos que seleccionar la base de datos que queremos utilizar, para ello llamamos al cliente e indicamos la base de datos a utilizar entre corchetes.

In [4]:
# nos conectamos con una BBDD 
airbnb = cliente['Airbnb']

#Veamos además las colecciones de la BBDD, usando el método 'list_collection_names()'
airbnb.list_collection_names()

['Barcelona']

In [5]:
# ahora seleccionaremos la colección que vamos a usar, en este caso utilizaremos la de Barcelona
bcn = airbnb['Barcelona']

# Sintaxis básica de consultas (`find()` y `distinct()`)

Estos métodos se utilizan para buscar documentos en una colección. MongoDB ofrece varios métodos para recuperar documentos de una colección que coincidan con un criterio especificado. Algunos de los métodos más comunes son:

- `find():` Este es el método básico utilizado para recuperar documentos de una colección. Toma un objeto de consulta como argumento y devuelve todos los documentos que coinciden con ese criterio.

- `find_one():` Similar a `find()`, pero devuelve solo el primer documento que coincida con el criterio especificado.

- `distinct():` Este método se utiliza para recuperar los valores únicos de un campo específico dentro de una colección. Retorna una lista de valores distintos para el campo especificado en los documentos de la colección.

## `find()`

Se utiliza para buscar documentos dentro de una colección que cumplan con ciertos criterios de consulta. Este método devuelve un cursor que contiene los documentos que coinciden con la consulta especificada.

La sintaxis básica del método es:

```pyhton
db.collection.find(query, projection)
```

- `db.collection`: Especifica la colección en la que se realizará la búsqueda.
  
- `query`: Especifica los criterios de búsqueda que deben cumplir los documentos para ser devueltos. Es opcional y si no se proporciona, devuelve todos los documentos de la colección.
  
- `projection`: Especifica los campos que se devolverán en los documentos coincidentes. También es opcional y si no se proporciona, se devolverán todos los campos.


> En nuestro caso, `db.collection` es igual a la variable que creamos previamente llamada `bcn`.

In [6]:
# empecemos con un ejemplo sencillo, sin introducir una query en el método 'find' y veámos que es lo que nos devuelve
bcn.find()

In [7]:
# para convertir el cursor en información valiosa para nosotros podemos convertirlo a lista, como vemos a continuación
resultado_find_list = list(bcn.find())
print(resultado_find_list[:2])

# o lo podemos convertir a DataFrame directamente
resultado_find_df = pd.DataFrame(bcn.find())
display(resultado_find_df.head(2))

[{'_id': ObjectId('67153ea21f6062e2244c69b1'), 'name': 'Rental unit in Barcelona', 'stars': 4.33, 'bath_number': '2 baths', 'bed_number': '6 beds', 'rooms_number': '3 bedrooms', 'host_id': 71615, 'host_name': 'Mireia  Maria', 'neighbourhood_group': 'Eixample', 'neighbourhood': 'la Sagrada Família', 'room_type': 'Entire home/apt', 'price': 121.0, 'minimum_nights': 1, 'number_of_reviews': 40, 'last_review': datetime.datetime(2023, 11, 7, 0, 0), 'reviews_per_month': 0.31, 'calculated_host_listings_count': 30, 'availability_365': 39, 'number_of_reviews_ltm': 7, 'license': 'HUTB-002062', 'latitude': 41.4056, 'longitude': 2.1726}, {'_id': ObjectId('67153ea21f6062e2244c69b2'), 'name': 'Rental unit in Barcelona', 'stars': 4.69, 'bath_number': '2 baths', 'bed_number': '6 beds', 'rooms_number': '4 bedrooms', 'host_id': 971768, 'host_name': 'Laura', 'neighbourhood_group': 'Sant Martí', 'neighbourhood': 'Diagonal Mar i el Front Marítim del Poblenou', 'room_type': 'Entire home/apt', 'price': 304.0, 'minimum_nights': 2, 'number_of_reviews': 105, 'last_review': datetime.datetime(2023, 10, 16, 0, 0), 'reviews_per_month': 0.74, 'calculated_host_listings_count': 9, 'availability_365': 137, 'number_of_reviews_ltm': 26, 'license': 'HUTB-000926', 'latitude': 41.408, 'longitude': 2.2149}]

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69b1,Rental unit in Barcelona,4.33,2 baths,6 beds,3 bedrooms,71615,Mireia Maria,Eixample,la Sagrada Família,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062,41.4056,2.1726
1,67153ea21f6062e2244c69b2,Rental unit in Barcelona,4.69,2 baths,6 beds,4 bedrooms,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926,41.4080,2.2149

In [8]:
# con esta query podremos hacer una análisis exploratorio inicial para conocer los principales estadísticos de nuestra BBDD de una forma sencilla
# Lo haremos primero para las variables numéricas
resultado_find_df.describe().T.iloc[4:, ]

,count,mean,min,25%,50%,75%,max,std
last_review,11058,2023-01-11 22:19:12.468800768,2011-06-23 00:00:00,2023-05-21 00:00:00,2023-10-30 00:00:00,2023-11-26 00:00:00,2023-12-17 00:00:00,NaN
reviews_per_month,11058.0,1.386145,0.01,0.23,0.74,2.02,67.3,1.948695
calculated_host_listings_count,14283.0,35.929007,1.0,1.0,6.0,30.0,318.0,70.051727
availability_365,14283.0,174.766226,0.0,8.0,180.0,314.0,365.0,137.125907
number_of_reviews_ltm,14283.0,12.881958,0.0,0.0,2.0,18.0,1065.0,25.914617
latitude,14283.0,41.392176,41.3527,41.3812,41.3901,41.4016,41.4558,0.013966
longitude,14283.0,2.166845,2.0856,2.1566,2.1677,2.1772,2.2277,0.017422

In [9]:
# hagamos lo mismo para las variables categóricas
resultado_find_df.describe(include = "O").T.iloc[1:, ]

                      count unique                       top   freq
name                  14283     64  Rental unit in Barcelona  11479
stars                9621.0  159.0                       5.0  848.0
bath_number            9504     28                    1 bath   4226
bed_number            13989     21                     1 bed   5803
rooms_number          14277     13                 1 bedroom   7242
host_name             14281   2829                      Ukio    315
neighbourhood_group   14283     10                  Eixample   5285
neighbourhood         14283     70    la Dreta de l'Eixample   1852
room_type             14283      4           Entire home/apt   8823
license                9469   4904                    Exempt   3180

In [10]:
# ya sabemos como obtener todos los resultados de la colección, pero ¿cómo tendríamos que sacar unos datos concretos?
# imaginemos que solo nos interesan los alojamientos del distrito de "Gràcia"

find_stmarti_df =  pd.DataFrame(bcn.find({'neighbourhood_group': 'Gràcia'}))

# comprobamos los resultados
print(f"Los distritos que tenemos en nuestra búsqueda son: {find_stmarti_df['neighbourhood_group'].unique()} ")

# comprobemos el total de resultados obtenidos
print(f"El total de alojamientos es {find_stmarti_df.shape[0]}")

Los distritos que tenemos en nuestra búsqueda son: ['Gràcia']
El total de alojamientos es 1305

## `find_one()`

Se utiliza para buscar un único documento dentro de una colección que cumpla con ciertos criterios de consulta. Este método devuelve el primer documento que coincide con la consulta especificada.

La sintaxis básica del método es similar a la del `find()`:

```python
db.collection.find_one(query, projection)
```

- `db.collection`: Especifica la colección en la que se realizará la búsqueda.
  
- `query`: Especifica los criterios de búsqueda que debe cumplir el documento para ser devuelto. Es opcional y si no se proporciona, devuelve el primer documento de la colección.
  
- `projection`: Especifica los campos que se devolverán en el documento coincidente. También es opcional y si no se proporciona, se devolverán todos los campos.

In [11]:
# pongamos el mismo ejemplo que antes pero en este caso con el método ' find_one()' para ver las diferencias 
findone_stmarti_df =  pd.DataFrame(bcn.find_one({'neighbourhood_group': 'Gràcia'}), index=[0])

# comprobamos los resultados
print(f"Los distritos que tenemos en nuestra búsqueda son: {findone_stmarti_df['neighbourhood_group'].unique()} ")

# comprobemos el total de resultados obtenidos
print(f"El total de alojamientos es {findone_stmarti_df.shape[0]}")

Los distritos que tenemos en nuestra búsqueda son: ['Gràcia']
El total de alojamientos es 1

## `distinct()`

Se utiliza para recuperar los valores únicos de un campo específico dentro de una colección. Esto significa que devuelve una lista de valores distintos para el campo especificado en los documentos de la colección.

```python
db.collection.distinct(query, projection)
```

- `db.collection`: Especifica la colección en la que se realizará la búsqueda.
  
- `query`: Especifica los criterios de búsqueda que debe cumplir el documento para ser devuelto. Es opcional y si no se proporciona, devuelve el primer documento de la colección.
  
- `projection`: Especifica los campos que se devolverán en el documento coincidente. También es opcional y si no se proporciona, se devolverán todos los campos.

> Importante, este método devuelve directamente una lista con los valores únicos del campo al que estamos accediendo.

In [12]:
# en este caso vamos a querer saber cuáles son los distintos distritos que tenemos dentro de nuestra BBDD, para eso usaremos la siguiente query
bcn.distinct('neighbourhood_group')

['Ciutat Vella',
 'Eixample',
 'Gràcia',
 'Horta-Guinardó',
 'Les Corts',
 'Nou Barris',
 'Sant Andreu',
 'Sant Martí',
 'Sants-Montjuïc',
 'Sarrià-Sant Gervasi']

In [13]:
# también podríamos saber el número de barrios distintos que hay en Barcelona
len(bcn.distinct("neighbourhood"))

70

In [14]:
# imaginamos ahora que queremos saber cuántas números de reviews distintas hay en la BBDD
bcn.distinct("number_of_reviews")[:5]

[0, 1, 2, 3, 4]

Hasta ahora solo hemos hecho búsquedas de atributos que son de tipo *string*. Para poder buscar columnas de tipo numérico necesitaremos usar una serie de operadores que aprenderemos en el siguiente apartado de esta lección.

# Operadores de Consulta

Los operadores de consulta permiten realizar búsquedas avanzadas dentro de una colección de documentos. Estos operadores se utilizan en combinación con los métodos `find()` y `find_one()` para filtrar documentos en función de ciertos criterios.
| **Categoría**               | **Operador**   | **Descripción**                                                                                                      | **Ejemplo**                                                                                                                                         |
|-----------------------------|----------------|----------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------|
| **Operadores de comparación**| `$eq`          | Igual a un valor específico.                                                                                         | `{ campo: { $eq: valor } }`                                                                                                                         |
|                             | `$ne`          | No igual a un valor específico.                                                                                      | `{ campo: { $ne: valor } }`                                                                                                                         |
|                             | `$gt`          | Mayor que un valor específico.                                                                                       | `{ campo: { $gt: valor } }`                                                                                                                         |
|                             | `$gte`         | Mayor o igual a un valor específico.                                                                                 | `{ campo: { $gte: valor } }`                                                                                                                        |
|                             | `$lt`          | Menor que un valor específico.                                                                                       | `{ campo: { $lt: valor } }`                                                                                                                         |
|                             | `$lte`         | Menor o igual a un valor específico.                                                                                 | `{ campo: { $lte: valor } }`                                                                                                                        |
| **Operadores lógicos**       | `$and`         | Realiza una operación lógica "AND" en una lista de expresiones.                                                      | `{ $and: [ { expresion1 }, { expresion2 }, ... ] }`                                                                                                 |
|                             | `$or`          | Realiza una operación lógica "OR" en una lista de expresiones.                                                       | `{ $or: [ { expresion1 }, { expresion2 }, ... ] }`                                                                                                  |
|                             | `$nor`         | Realiza una operación lógica "NOR" en una lista de expresiones.                                                      | `{ $nor: [ { expresion1 }, { expresion2 }, ... ] }`                                                                                                 |
|                             | `$not`         | Niega una expresión de consulta.                                                                                     | `{ campo: { $not: { $eq: valor } } }`                                                                                                               |
| **Operadores de elemento**   | `$exists`      | Coincide con los documentos que contienen un campo específico.                                                       | `{ campo: { $exists: true } }`                                                                                                                      |
|                             | `$type`        | Coincide con los documentos que tienen un tipo de campo específico.                                                  | `{ campo: { $type: tipo } }`                                                                                                                        |
| **Otros operadores**         | `$in`          | Coincide con los documentos cuyo valor de campo está en una lista de valores.                                        | `{ campo: { $in: [valor1, valor2, valor3] } }`                                                                                                      |
|                             | `$nin`         | Coincide con los documentos cuyo valor de campo no está en una lista de valores.                                     | `{ campo: { $nin: [valor1, valor2, valor3] } }`                                                                                                     |
|                             | `$regex`       | Realiza una búsqueda de expresiones regulares en los campos de texto.                                                | `{ campo: { $regex: /expresion_regular/ } }`                                                                                                        |


Pongamos algunos ejemplos de cada uno de estos operadores que nos van a permitir filtrar la información de la BBDD para columnas de tipo numérico.

In [15]:
# en el análisis preliminar habíamos visto que el precio más barato de un alojamiento en Barcelona era de 9€, vamos a identificar que alojamiento/s son usando el operador '$eq'
find_eq_df = pd.DataFrame(bcn.find({'price': {"$eq": 9}}))
find_eq_df.head()

Empty DataFrame
Columns: []
Index: []

In [16]:
# imaginemos ahora que queremos encontrar todos los alojamientos que no tienen el precio mínimo identificado en pasos previos, 
# tendríamos que usar el operador '$ne' 
find_ne_df = pd.DataFrame(bcn.find({'price': {"$ne": 9}}))
find_ne_df.head()

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69b1,Rental unit in Barcelona,4.33,2 baths,6 beds,3 bedrooms,71615,Mireia Maria,Eixample,la Sagrada Família,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062,41.4056,2.1726
1,67153ea21f6062e2244c69b2,Rental unit in Barcelona,4.69,2 baths,6 beds,4 bedrooms,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926,41.4080,2.2149
2,67153ea21f6062e2244c69b3,Rental unit in Sant Adria de Besos,4.77,2 baths,4 beds,3 bedrooms,90417,Etain (Marnie),Sant Martí,el Besòs i el Maresme,Entire home/apt,200.0,3,75,2023-11-25,0.48,2,300,11,HUTB005057,41.4124,2.2198
3,67153ea21f6062e2244c69b4,Rental unit in Barcelona,4.48,1.5 baths,3 beds,2 bedrooms,135703,Nick,Gràcia,el Camp d'en Grassot i Gràcia Nova,Entire home/apt,79.0,1,99,2023-10-18,0.66,3,297,16,HUTB-001722,41.4057,2.1702
4,67153ea21f6062e2244c69b5,Condo in Barcelona,3.4,1 bath,1 bed,1 bedroom,73163,Andres,Ciutat Vella,el Barri Gòtic,Entire home/apt,120.0,5,8,2013-07-15,0.05,3,90,0,Exempt,41.3806,2.1752

In [17]:
# imagemos que queremos conocer los alojamientos que tienen un precio mayor a 100, para eso tendremos que usar el operadore '$eq'
find_gt_df = pd.DataFrame(bcn.find({'price': {"$gt": 1000}}))
display(find_gt_df.head())

print(f"Tenemos un total de {find_gt_df.shape[0]}, que están en los siguientes distritos {find_gt_df['neighbourhood_group'].unique()}")

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c6ea7,Villa in Barcelona,4.93,7.5 baths,15 beds,8 bedrooms,21793560,Imanol,Horta-Guinardó,la Font d'en Fargues,Entire home/apt,1205.0,1,29,2023-11-12,0.26,6,350,4,HUTB-001101,41.4273,2.1657
1,67153ea21f6062e2244c6fc2,Rental unit in Barcelona,3.75,4.5 baths,10 beds,6 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1650.0,3,4,2018-06-12,0.04,24,358,0,HUTB-011466,41.4020,2.2096
2,67153ea21f6062e2244c6fc6,Rental unit in Barcelona,1,NaN,16 beds,11 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1290.0,3,0,NaT,NaN,24,362,0,NaN,41.4046,2.2120
3,67153ea21f6062e2244c6fc9,Rental unit in Barcelona,NaN,NaN,16 beds,8 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1800.0,3,2,2016-04-17,0.02,24,355,0,HUTB-011466,41.4023,2.2101
4,67153ea21f6062e2244c6fcc,Rental unit in Barcelona,NaN,NaN,18 beds,9 bedrooms,5729069,Barcelona,Sant Martí,el Parc i la Llacuna del Poblenou,Entire home/apt,1800.0,3,1,2022-05-02,0.05,24,365,0,HUTB-010945,41.3936,2.1912

Tenemos un total de 58, que están en los siguientes distritos ['Horta-Guinardó' 'Sant Martí' 'Eixample' 'Nou Barris' 'Les Corts'
 'Sants-Montjuïc' 'Ciutat Vella' 'Sarrià-Sant Gervasi' 'Gràcia']

In [18]:
# antes hemos identificado los barrios y alojamientos que tienen un precio mayor de 1000 €, si quisieramos extraer los que tengan un valor mayor o igual usaremos el operador '$gte'
# en este caso vamos que 14 barrios nuevos, los cuales nos podrían interesar identificar
find_gte_df = pd.DataFrame(bcn.find({'price': {"$gte": 1000}}))
display(find_gte_df.head())

print(f"Tenemos un total de {find_gte_df.shape[0]}, que están en los siguientes distritos {find_gte_df['neighbourhood_group'].unique()}")

print(f" \n Los distritos que tienen alquileres a 1000€ son {set(find_gte_df['neighbourhood_group'].unique()) - set(find_gt_df['neighbourhood_group'].unique())}")

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69dc,Boat in Barcelona,4.5,4 baths,6 beds,4 bedrooms,1404293,Sergio,Ciutat Vella,el Barri Gòtic,Entire home/apt,1000.0,2,35,2023-10-25,0.25,1,360,3,Exempt,41.3778,2.1844
1,67153ea21f6062e2244c6ea7,Villa in Barcelona,4.93,7.5 baths,15 beds,8 bedrooms,21793560,Imanol,Horta-Guinardó,la Font d'en Fargues,Entire home/apt,1205.0,1,29,2023-11-12,0.26,6,350,4,HUTB-001101,41.4273,2.1657
2,67153ea21f6062e2244c6fc2,Rental unit in Barcelona,3.75,4.5 baths,10 beds,6 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1650.0,3,4,2018-06-12,0.04,24,358,0,HUTB-011466,41.4020,2.2096
3,67153ea21f6062e2244c6fc6,Rental unit in Barcelona,1,NaN,16 beds,11 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1290.0,3,0,NaT,NaN,24,362,0,NaN,41.4046,2.2120
4,67153ea21f6062e2244c6fc9,Rental unit in Barcelona,NaN,NaN,16 beds,8 bedrooms,5729069,Barcelona,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,1800.0,3,2,2016-04-17,0.02,24,355,0,HUTB-011466,41.4023,2.2101

Tenemos un total de 69, que están en los siguientes distritos ['Ciutat Vella' 'Horta-Guinardó' 'Sant Martí' 'Eixample' 'Nou Barris'
 'Les Corts' 'Sants-Montjuïc' 'Sarrià-Sant Gervasi' 'Gràcia']

 Los distritos que tienen alquileres a 1000€ son set()

In [19]:
# hagamos este mismo ejercicio poniendo el limite superior en 35€ (es el precio medio que se gasta un español en alojamiento cuando sale de vacaciones)
# tendremos que usar el operador '$lt'

find_lt_df = pd.DataFrame(bcn.find({"price": {"$lt": 35}}))

display(find_lt_df.head())

print(f"Tenemos un total de {find_lt_df.shape[0]}, que están en los siguientes distritos {find_lt_df['neighbourhood_group'].unique()}")

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,latitude,longitude,license
0,67153ea21f6062e2244c69b9,Rental unit in Barcelona,4.8,1 shared bath,1 bed,1 bedroom,158596,Ester,Ciutat Vella,la Barceloneta,Private room,30.0,31,108,2023-10-10,0.73,1,210,4,41.3804,2.1909,NaN
1,67153ea21f6062e2244c69cf,Rental unit in Barcelona,NaN,NaN,1 bed,1 bedroom,1008598,Dana,Sant Andreu,Navas,Private room,30.0,3,2,2023-05-31,0.28,1,0,2,41.4151,2.1886,NaN
2,67153ea21f6062e2244c69d3,Rental unit in Barcelona,4.84,1 shared bath,1 bed,1 bedroom,1348378,Lidia,Gràcia,Vallcarca i els Penitents,Private room,28.0,31,69,2023-09-02,0.48,2,202,4,41.4134,2.1389,NaN
3,67153ea21f6062e2244c69e3,Rental unit in Barcelona,4.25,1 shared bath,1 bed,1 bedroom,711907,Antuan,Horta-Guinardó,el Guinardó,Private room,18.0,31,130,2023-08-10,1.24,1,313,4,41.4234,2.1749,Exempt
4,67153ea21f6062e2244c69e4,Rental unit in Barcelona,4.86,1 shared bath,1 bed,1 bedroom,474355,Annais,Eixample,l'Antiga Esquerra de l'Eixample,Private room,32.0,31,95,2023-03-13,0.63,1,0,1,41.3920,2.1510,Exempt

Tenemos un total de 1321, que están en los siguientes distritos ['Ciutat Vella' 'Sant Andreu' 'Gràcia' 'Horta-Guinardó' 'Eixample'
 'Sants-Montjuïc' 'Sant Martí' 'Nou Barris' 'Sarrià-Sant Gervasi'
 'Les Corts']

In [20]:
# hagamos lo mismo pero con el operador '$lte'
find_lte_df = pd.DataFrame(bcn.find({'price': {"$lte": 35}}))
display(find_lte_df.head())

print(f"Tenemos un total de {find_lte_df.shape[0]}, que están en los siguientes distritos {find_lte_df['neighbourhood_group'].unique()}")

print(f" \n Los distritos que tienen alquileres a 35 son {set(find_lte_df['neighbourhood_group'].unique()) - set(find_lt_df['neighbourhood_group'].unique().tolist())}")

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,latitude,longitude,license
0,67153ea21f6062e2244c69b9,Rental unit in Barcelona,4.8,1 shared bath,1 bed,1 bedroom,158596,Ester,Ciutat Vella,la Barceloneta,Private room,30.0,31,108,2023-10-10,0.73,1,210,4,41.3804,2.1909,NaN
1,67153ea21f6062e2244c69cf,Rental unit in Barcelona,NaN,NaN,1 bed,1 bedroom,1008598,Dana,Sant Andreu,Navas,Private room,30.0,3,2,2023-05-31,0.28,1,0,2,41.4151,2.1886,NaN
2,67153ea21f6062e2244c69d3,Rental unit in Barcelona,4.84,1 shared bath,1 bed,1 bedroom,1348378,Lidia,Gràcia,Vallcarca i els Penitents,Private room,28.0,31,69,2023-09-02,0.48,2,202,4,41.4134,2.1389,NaN
3,67153ea21f6062e2244c69e3,Rental unit in Barcelona,4.25,1 shared bath,1 bed,1 bedroom,711907,Antuan,Horta-Guinardó,el Guinardó,Private room,18.0,31,130,2023-08-10,1.24,1,313,4,41.4234,2.1749,Exempt
4,67153ea21f6062e2244c69e4,Rental unit in Barcelona,4.86,1 shared bath,1 bed,1 bedroom,474355,Annais,Eixample,l'Antiga Esquerra de l'Eixample,Private room,32.0,31,95,2023-03-13,0.63,1,0,1,41.3920,2.1510,Exempt

Tenemos un total de 1485, que están en los siguientes distritos ['Ciutat Vella' 'Sant Andreu' 'Gràcia' 'Horta-Guinardó' 'Eixample'
 'Sants-Montjuïc' 'Sant Martí' 'Nou Barris' 'Sarrià-Sant Gervasi'
 'Les Corts']

 Los distritos que tienen alquileres a 35 son set()

In [21]:
# lo siguiente pregunta que se nos puede ocurrir es si hay algun distrito que esté entre los distritos más baratos y más caros
# para eso podríamos hacer lo siguiente
set(find_gte_df["neighbourhood_group"].unique()).intersection(set(find_lte_df["neighbourhood_group"].unique()))

{'Ciutat Vella',
 'Eixample',
 'Gràcia',
 'Horta-Guinardó',
 'Les Corts',
 'Nou Barris',
 'Sant Martí',
 'Sants-Montjuïc',
 'Sarrià-Sant Gervasi'}

## Operadores lógicos

Son utilizados para realizar operaciones de comparación entre expresiones y documentos en las consultas. Los operadores lógicos más comunes son: 

| **Operador** | **Descripción**                                                                                                                      | **Ejemplo**                                                                                                            |
|--------------|--------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|
| **$and**     | Selecciona documentos que coincidan con todas las condiciones especificadas. Todas las condiciones deben ser verdaderas.              | `db.collection.find({ '$and': [ { <condicion1> }, { <condicion2> } , ... , { <condicionN> } ]})`                       |
| **$or**      | Selecciona documentos que coincidan con al menos una de las condiciones especificadas. Al menos una condición debe ser verdadera.     | `db.collection.find({ '$or': [ { <condicion1> }, { <condicion2> } , ... , { <condicionN> } ]})`                        |
| **$not**     | Invierte el efecto de una expresión de consulta y selecciona documentos que no coincidan con las condiciones especificadas.           | `db.collection.find({ '$not': [ { <condicion1> }, { <condicion2> } , ... , { <condicionN> } ]})`                       |
| **$nor**     | Selecciona documentos que no coincidan con ninguna de las condiciones especificadas. Ninguna de las condiciones debe ser verdadera.    | `db.collection.find({ '$nor': [ { <condicion1> }, { <condicion2> } , ... , { <condicionN> } ]})`                       |

In [22]:
# imaginemos que queremos saber si hay algún alojamiento que tiene un precio igual o menos a 35€ y con un total de camas de 6
# para eso tendríamos que usar el operdor '$and' porque queremos que se cumplan las dos condiciones 

# empezamos definiendo las condiciones  que queremos evaluar
cond_precio = {"price": {"$lte": 35}}
cond_camas = {"rooms_number": "6 bedrooms"}

# realizamos la query
find_and_df = pd.DataFrame(bcn.find({"$and": [cond_precio, cond_camas]}))
find_and_df

,_id,name,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude,last_review,reviews_per_month
0,67153ea31f6062e2244c9d58,Rental unit in Barcelona,6 beds,6 bedrooms,449485386,Haaus,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,Private room,35.0,32,0,41,316,0,Exempt,41.4059,2.1371,NaT,NaN
1,67153ea31f6062e2244c9f5f,Rental unit in Barcelona,6 beds,6 bedrooms,357946540,Enter,Sarrià-Sant Gervasi,el Putxet i el Farró,Private room,19.0,33,0,271,269,0,NaN,41.4050,2.1475,NaT,NaN
2,67153ea31f6062e2244c9f7a,Rental unit in Barcelona,6 beds,6 bedrooms,357946540,Enter,Sarrià-Sant Gervasi,el Putxet i el Farró,Private room,24.0,33,1,271,252,1,NaN,41.4050,2.1455,2023-10-27,0.63

In [23]:
# definimos las dos condiciones
cond_tipo = {"room_type": "Shared room"}
cond_reviews = {"number_of_reviews": {"$eq": 0}}

# realizamos la query
find_or_df = pd.DataFrame(bcn.find({"$or": [cond_tipo, cond_reviews]}))
find_or_df.head(2)

,_id,name,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,latitude,longitude,price,license,last_review,reviews_per_month,stars,bath_number
0,67153ea21f6062e2244c6a10,Loft in Barcelona,2 beds,1 bedroom,2272146,Javi,Sants-Montjuïc,el Poble Sec,Private room,1,0,1,0,0,41.3723,2.1657,NaN,NaN,NaT,NaN,NaN,NaN
1,67153ea21f6062e2244c6ab3,Floor in Barcelona,1 bed,1 bedroom,3429484,Pamela,Nou Barris,la Prosperitat,Private room,90,0,2,87,0,41.4427,2.1798,25.0,NaN,NaT,NaN,NaN,NaN

In [24]:
# si quisieramos hacer la inversa de '$or', podríamos usar el método '$nor', 
find_nor_df = pd.DataFrame(bcn.find({"$nor": [cond_tipo, cond_reviews]})) 
display(find_nor_df.head(2))

# en este caso si sumamos el número de filas del resultado de la query del 'or' y de la query del 'nor' nos devolvería el total del filas del conjunto original
find_or_df.shape[0] + find_nor_df.shape[0] == resultado_find_df.shape[0]

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69b1,Rental unit in Barcelona,4.33,2 baths,6 beds,3 bedrooms,71615,Mireia Maria,Eixample,la Sagrada Família,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062,41.4056,2.1726
1,67153ea21f6062e2244c69b2,Rental unit in Barcelona,4.69,2 baths,6 beds,4 bedrooms,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926,41.4080,2.2149

True

In [25]:
# vamos a poner el último de los ejemplos, en este caso buscaremos todos los alojamientos que no sean mayor o igual a 30 en su precio
condicion_precio = { "price": { "$not": { "$gte": 30 } } }

# aplicamos la condición
find_not_df = pd.DataFrame(bcn.find(condicion_precio))

# comprobamos que la query se hizo correctamente
find_not_df.describe().T.loc["price", :]

count        869.0
mean     23.512083
min           12.0
25%           20.0
50%           24.0
75%           27.0
max           29.0
std       4.079442
Name: price, dtype: object

## Operadores de elemento

Son utilizados para realizar consultas basadas en la existencia de un campo o atributo en un documento, así como para verificar si un campo tiene un valor específico o si es de un tipo de dato particular. Los métodos más comunes son: 

1. **$exists:**: Se utiliza para verificar si un campo existe en un documento.
   
   ```python
   db.collection.find({campo: {'$exists': True|False}})
   ```
   Donde:

   - **db.collection:** Es el nombre de la colección de nuestra BBDD.

   - **campo:** Nombre del campo que queremos indicar si existe registro o no. Especificaremos *True* si queremos obtener los documentos que tengan ese campo relleno y, por el contrario, usaremos *False* si queremos que en ese campo haya un nulo.


2. **$type:**: Se utiliza para verificar si un campo tiene un tipo de dato específico.
   
   ```python
   list(db.collection.find({campo:{'$type': 'tipo'}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la colección de nuestra BBDD.
  
   - **campo:** Nombre del campo que queremos verificar la instancia de tipo concreto.
  
   - **tipo:** Tipode dato que queremos buscar. 

   Este tipo de operador lo podremos usar para la validación de datos para verificar si los campos de interés tienen el tipo de datos esperado, para identidicar campos con tipos de datos incorrectos o inesperados o para seleccionar campos con un tipo de dato específico, como por ejemplo los nulos.

In [26]:
# imaginemos ahora que queremos saber cuáles son aquellos alojamientos que no tienen ninguna estrella ya que queremos evitarlos a la hora de hacer recomendaciones.
# para eso podemos usar el operador '$exists'  para seleccionar aquellos alojamientos que no tienen estrellas 
# fijaos como ahora no tenemos la columna de 'stars' en el DataFrame resultante
find_exists_df = pd.DataFrame(bcn.find({'stars': {'$exists': False}}))
print(f"Tenemos un total de {round((find_exists_df.shape[0] / resultado_find_df.shape[0]), 2) * 100} % alojamientos sin estrellas")

Tenemos un total de 33.0 % alojamientos sin estrellas

In [27]:
# siguiendo en la línea del ejemplo anterior, imaginemos que no queremos tener en cuenta aquellos alojamientos que no tienen precio o que no ha recibido ninguna puntuación para evitar recomendarlos
# NOTA: este mismo ejemplo lo podríamos hacer también con el '$exists'

# definimos las condiciones
cond_estrellas = {"stars": {"$exists": False}}
cond_precio = {"price": {"$exists": False}}

# aplicamos el operador '$and' para combinar las dos condiciones
find_type_df = pd.DataFrame(bcn.find({'$and': [cond_estrellas, cond_precio]}))

print(f"Tenemos un total de {round(find_type_df.shape[0] / resultado_find_df.shape[0], 2) * 100} % alojamientos sin estrellas ni precio")

Tenemos un total de 8.0 % alojamientos sin estrellas ni precio

## Otros operadores

En Mongo tenemos otros operadores a parte de los mencionados hasta este punto, los más importantes son: 

1. **$in:** Se utiliza para verificar si el valor de un campo está dentro de una lista de valores especificada.
   
   ```python
   list(db.collection.find({'nombre del campo': {'$in': [valor1, valor2, ...]}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **nombre del campo:** Campo del que queremos obtener los valores.
  
   - **operador**: Operador numérico que vamos a querer utilizar.

   - **[valor1, valor2, ...]**: Lista de valores  que vamos a usar de referencia para filtrar la información. 
   

2. **$nin:** Se utiliza para verificar si el valor de un campo no está dentro de una lista de valores especificada.
   
   ```python
   list(db.collection.find({'nombre del campo': {'$nin': [valor1, valor2, ...]}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **nombre del campo:** Campo del que queremos obtener los valores.
  
   - **operador**: Operador numérico que vamos a querer utilizar.

   - **[valor1, valor2, ...]**: Lista de valores  que vamos a usar de referencia para filtrar la información. 
  

3. **$all:** Se utiliza para verificar si un campo contiene **todos** los valores especificados en una lista.
   
   ```python
   list(db.collection.find({'nombre del campo': {'$all': [valor1, valor2, ...]}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **nombre del campo:** Campo del que queremos obtener los valores.
  
   - **operador**: Operador numérico que vamos a querer utilizar.

   - **[valor1, valor2, ...]**: Lista de valores  que vamos a usar de referencia para filtrar la información. 
  

4. **$size:** Se utiliza para verificar si un campo es una lista y tiene un tamaño específico.

   ```python
   list(db.collection.find({'nombre del campo': {'$size': numero}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **nombre del campo:** Campo del que queremos obtener los valores.
  
   - **operador**: Operador numérico que vamos a querer utilizar.

   - **numero**: Número de elementos que debe tener la lista del campo. 
  

5. **$regex:** Se utiliza para realizar una búsqueda de expresiones regulares en el contenido de un campo. 

   ```python
   list(db.collection.find({'nombre del campo': {'$regex': patron_regex}}))
   ```
   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **nombre del campo:** Campo del que queremos obtener los valores.
  
   - **operador**: Operador numérico que vamos a querer utilizar.

   - **patron_regex**: Patrón que queremos usar para buscar en la colección.

In [28]:
# imaginemos que uno de nuestros clientes esta interesado en los alojamientos de ciertos anfitriones porque en otras ocasiones han terminado muy satisfechos, por ejemplo 'Ukio', 'Alcam Apartments', 'Sant Jordi Hostels' y 'Loca Bcn' 
# para hacer esta búsqueda podríamos usar el operador '$or', pero esto sería tremendamente tedioso
# podemos hacer una lista de los anfitriones y usar el operador '$in'
lista_anfi = ['Ukio', 'Alcam Apartments', 'Sant Jordi Hostels' , 'Loca Bcn' ]

find_in_df = pd.DataFrame(bcn.find({"host_name": {'$in': lista_anfi}}))
print(f"En total tenemos {find_in_df.shape[0]} alojamientos que ofrecerle al cliente")

En total tenemos 435 alojamientos que ofrecerle al cliente

In [29]:
# podríamos estar interesados en todo lo contrario, es decir, nuestro cliente no quiere ir a alojamientos donde estén esos anfitriones, 
# pudiendo usar el operador inverso que hemos visto, el '$nin' 

find_nin_df = pd.DataFrame(bcn.find({"host_name": {'$nin': lista_anfi}}))
print(f"En total tenemos {find_nin_df.shape[0]} alojamientos que ofrecerle al cliente")

En total tenemos 13848 alojamientos que ofrecerle al cliente

In [30]:
# hagamos la misma query que hicimos con el '$in' para ver las diferencias entre los métodos 
# en este caso nos devuelve 0 porque no hay ningún campo que tenga todos los valores que nosotros hemos indicado en la 'lista_anfi'
find_in_df = pd.DataFrame(bcn.find({"host_name": {'$all': lista_anfi}}))
print(f"En total tenemos {find_in_df.shape[0]} alojamientos que ofrecerle al cliente")

En total tenemos 0 alojamientos que ofrecerle al cliente

In [31]:
# imaginemos que queremos buscar todos aquellos alojamientos en cuyo nombre tengan la palabra 'Aparthotel'  para eso podemos usar el método '$regex'

# lo primero que tenemos que hacer es definir el patrón de regex
patron_regex = 'Aparthotel'

# aplicamos el patrón regex a la búsqueda
find_regex_df = pd.DataFrame(bcn.find({"name": {'$regex': patron_regex} }))
print(f"Tenemos un total de {find_regex_df.shape[0]} alojamientos de tipo Aparthotel en Barcelona")

Tenemos un total de 7 alojamientos de tipo Aparthotel en Barcelona


# Proyecciones

En MongoDB, los operadores de proyección se utilizan junto con el método `find()` para especificar qué campos deben incluirse o excluirse en los documentos devueltos por la consulta. Algunos de los operadores de proyección más comunes son:



1. **Inclusión de campos específicos:** Devuelve solo los campos especificados en la proyección.

   ```python
   db.collection.find({}, { campo1: 1, campo2: 1 })
   ```

   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **{}:** La query especifica que queramos.
  
   - **{ campo1: 1, campo2: 1 }**: Los campos que queremos seleccionar en los resultados.


2. **Exclusión de campos específicos:**  Excluye los campos especificados de la proyección.

   ```python
   db.collection.find({}, { campo1: 0, campo2: 0 })
   ```

   Donde:

   - **db.collection:** Es el nombre de la base de datos y la colección con la que estamos trabajando.
  
   - **{}:** La query especifica que queramos.
  
   - **{ campo1: 1, campo2: 1 }**: Los campos que queremos excluir en los resultados.


<div style="background-color: #0DA8F5; padding: 10px; border-left: 6px solid #000080; color: black; border-radius: 10px;">

En MongoDB, para incluir o excluir campos en las proyecciones, utilizamos los operadores de proyección. Los principales operadores que se utilizan son:

1. **Inclusión de campos específicos:** Para incluir campos específicos en los documentos devueltos, utilizamos el operador **1**. 

2. **Exclusión de campos específicos:** Para excluir campos específicos de los documentos devueltos, utilizamos el operador **0**. 

Un ejemplo sería:

```python
db.collection.find({}, { campo1: 1, campo2: 1 })  # Incluye solo campo1 y campo2
db.collection.find({}, { campo1: 0, campo2: 0 })  # Excluye campo1 y campo2
```
</div>

In [32]:
# hasta ahora, cuando hacíamos una consulta no limitabamos las columnas uqe nos devolvía, pero a veces podemos estar interesados solo en ciertas columnas
# en este ejemplo vamos a usar la query escrita en el ejemplo anterior (la de regex) 

# recordemos la query
find_regex_df = pd.DataFrame(bcn.find({"name": {'$regex': patron_regex} }))
display(find_regex_df.head(2))


# imaginemos que ahora solo queremos el nombre de los alojamientos ('name'), las estrellas ('stars'), y el barrio al que pertenece ('neighbourhood')
# para eso tendremos que usar las proyecciones indicando con un 1 los campos que queremos 
find_regex_in_df = pd.DataFrame(bcn.find({"name": {'$regex': patron_regex} }, {"name": 1, "stars":1, "neighbourhood": 1}))
find_regex_in_df.head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c6ee7,Aparthotel in Barcelona,4.44,1 private bath,1 bed,1 bedroom,383697,Anna,Sants-Montjuïc,el Poble Sec,Hotel room,91.0,1,470,2023-11-27,4.51,9,0,130,HB-004584,41.3729,2.1681
1,67153ea21f6062e2244c7b9e,Aparthotel in Gracia-Barcelona,4.78,1 bath,1 bed,1 bedroom,24431378,Nacho,Gràcia,la Vila de Gràcia,Private room,98.0,1,441,2023-12-03,6.65,1,359,106,ATB-000005,41.4021,2.1512

,_id,name,stars,neighbourhood
0,67153ea21f6062e2244c6ee7,Aparthotel in Barcelona,4.44,el Poble Sec
1,67153ea21f6062e2244c7b9e,Aparthotel in Gracia-Barcelona,4.78,la Vila de Gràcia

In [33]:
# imaginemos ahora que en vez de incluir solo ciertos campos quisieramos excluir la 'latitude' y la ' longitude' , para eso tendríamos que usar el 0 en la proyección para excluirlos
find_regex_ex_df = pd.DataFrame(bcn.find({"name": {"$regex": patron_regex}}, {'latitude': 0, 'longitude': 0}))

# esto nos devolverá todo menos los campos de 'longitude' y 'latitude'
find_regex_ex_df.head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,67153ea21f6062e2244c6ee7,Aparthotel in Barcelona,4.44,1 private bath,1 bed,1 bedroom,383697,Anna,Sants-Montjuïc,el Poble Sec,Hotel room,91.0,1,470,2023-11-27,4.51,9,0,130,HB-004584
1,67153ea21f6062e2244c7b9e,Aparthotel in Gracia-Barcelona,4.78,1 bath,1 bed,1 bedroom,24431378,Nacho,Gràcia,la Vila de Gràcia,Private room,98.0,1,441,2023-12-03,6.65,1,359,106,ATB-000005

# Otros métodos

En Mongo tenemos otros métodos que nos puedes ayudar a ordernar o limitar los resultados de nuestras queries. Los más importantes son: 

1. **sort()**: Ordena los resultados de una consulta en función de un campo específico.

2. **limit()**: Limita la cantidad de documentos devueltos por una consulta. Es como el `limit` de SQL. 

3. **skip()**: Omite un número específico de documentos al principio de los resultados. Sería como el `offset`de SQL.

4. **count()**: Cuenta el número total de documentos que coinciden con una consulta.

## `sort()`

Se utiliza para ordenar los resultados de una consulta en función de los valores de un campo específico. Esto es útil cuando queremos obtener los documentos de una colección en un orden específico, como ordenarlos alfabéticamente, por fecha, o por algún otro criterio relevante para tu aplicación. Podemos ordenar por múltiples campos especificándolos dentro del objeto de ordenamiento. En caso de empate en el primer campo, se utilizará el segundo campo para desempatar y así sucesivamente.


La sintaxis básica es:

```python
db.collection.find({ <filtro> }).sort({ <campo>: <1 o -1> })
```
Donde: 
- `db.collection`: Es la colección en la que deseas realizar la consulta.

- `find({ <filtro> })`: Es la consulta que especifica los documentos que deseas recuperar de la colección.

- `.sort({ <campo>: <1 o -1> })`: Es el método `sort()` que ordena los documentos basados en el valor del campo especificado. Puedes proporcionar uno o varios campos como criterio de ordenamiento.

   - `<campo>`: Es el nombre del campo por el cual deseas ordenar los documentos.

   - `<1 o -1>`: Especifica el orden de clasificación. Utiliza `1` para orden ascendente (de menor a mayor) y `-1` para orden descendente (de mayor a menor).

In [34]:
resultado_find_df.head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69b1,Rental unit in Barcelona,4.33,2 baths,6 beds,3 bedrooms,71615,Mireia Maria,Eixample,la Sagrada Família,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062,41.4056,2.1726
1,67153ea21f6062e2244c69b2,Rental unit in Barcelona,4.69,2 baths,6 beds,4 bedrooms,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926,41.4080,2.2149

In [35]:
# hagamos una consulta un poco más compleja, en este caso seleccionaremos los alojamientos de los barrios de 'Gràcia'  y 'Eixample' 
# que tengan un precio mayor de 35€
# y que tengan 'Private room'
# y vamos a ordenar los resultados por la fecha de la última review ('last review') de forma ascendente
# vamos a eliminar aquellos alojamientos que no tengan fecha de última review ('last review')
# vamos a sacar solo las columnas de 'neighbourhood', 'neighbourhood_group', 'last review' y 'stars'

pd.DataFrame(bcn.find({
    'neighbourhood_group': {"$in": ["Gràcia", "Eixample"]}, 
    "price" : {"$gt": 35}, 
    "room_type": "Private room", 
    "last_review": {"$exists": True}
    }, 
    {"neighbourhood": 1, 'neighbourhood_group':1, 'last_review': 1, 'stars': 1 }
).sort({"last_review":1})).head(10)

,_id,stars,neighbourhood_group,neighbourhood,last_review
0,67153ea21f6062e2244c6dd6,4.0,Eixample,la Sagrada Família,2015-09-29
1,67153ea21f6062e2244c6fa2,4.12,Gràcia,la Salut,2017-08-21
2,67153ea21f6062e2244c70d0,3.17,Eixample,la Sagrada Família,2017-12-31
3,67153ea21f6062e2244c70a7,4.43,Eixample,l'Antiga Esquerra de l'Eixample,2018-02-25
4,67153ea21f6062e2244c762b,4.16,Eixample,la Sagrada Família,2018-04-01
5,67153ea21f6062e2244c78b1,4.83,Eixample,la Sagrada Família,2018-06-24
6,67153ea21f6062e2244c79aa,3.57,Eixample,la Nova Esquerra de l'Eixample,2018-08-30
7,67153ea21f6062e2244c6a6b,NaN,Eixample,la Dreta de l'Eixample,2019-01-03
8,67153ea21f6062e2244c7cda,NaN,Eixample,Sant Antoni,2019-01-13
9,67153ea21f6062e2244c6a96,4.75,Eixample,la Nova Esquerra de l'Eixample,2019-06-30

## `limit()`

Se utiliza  para limitar el número de documentos que se devuelven en el resultado de una consulta. Podemos usar `limit()` para restringir la cantidad de documentos devueltos por una consulta a una colección. El método `limit()` se aplica después de que se hayan seleccionado y ordenado los documentos, por lo que limita la cantidad de documentos devueltos después de que se hayan aplicado todas las otras operaciones de la consulta. Si no se especifica ningún valor para `limit()`, la consulta devolverá todos los documentos que cumplan con los criterios de la consulta sin ninguna restricción en la cantidad de documentos devueltos. 

La sintaxis básica del método es:

```python
db.coleccion.find(query).limit(numero)
```

- `db.coleccion`: Especifica la colección en la que se realizará la consulta.

- `query`: Especifica las condiciones de la consulta para filtrar los documentos.

- `.limit(numero)`: Especifica el número máximo de documentos que se devolverán en el resultado de la consulta.

In [36]:
# vamos a utilizar la query del ejercicio anterios y vamos a limitar los resultados a los 5 primeros, 

pd.DataFrame(bcn.find({
    'neighbourhood_group': {"$in": ["Gràcia", "Eixample"]}, 
    "price" : {"$gt": 35}, 
    "room_type": "Private room", 
    "last_review": {"$exists": True}
    }, 
    {"neighbourhood": 1, 'neighbourhood_group':1, 'last_review': 1, 'stars': 1 }
).sort({"last_review":1}).limit(5)
)

,_id,stars,neighbourhood_group,neighbourhood,last_review
0,67153ea21f6062e2244c6dd6,4.00,Eixample,la Sagrada Família,2015-09-29
1,67153ea21f6062e2244c6fa2,4.12,Gràcia,la Salut,2017-08-21
2,67153ea21f6062e2244c70d0,3.17,Eixample,la Sagrada Família,2017-12-31
3,67153ea21f6062e2244c70a7,4.43,Eixample,l'Antiga Esquerra de l'Eixample,2018-02-25
4,67153ea21f6062e2244c762b,4.16,Eixample,la Sagrada Família,2018-04-01

## `skip()`

Se utiliza para omitir un número específico de documentos en una colección y devolver los documentos restantes. Esto es útil para la paginación de resultados o para omitir los primeros N documentos en una consulta.

La sintaxis básica es la siguiente:

```python
db.collection.find().skip(N)
```

Donde: 

- `db.collection` es el nombre de la colección en la que se realizará la búsqueda. 

- `N` es el número de documentos que se omitirán.

In [37]:
# continuemos añdiendo elementos a la query anterior, en este caso, limitaremos los resultados a 5, pero nos quedaremos con los que están entre las posiciones 5-10
pd.DataFrame(bcn.find({
    'neighbourhood_group': {"$in": ["Gràcia", "Eixample"]}, 
    "price" : {"$gt": 35}, 
    "room_type": "Private room", 
    "last_review": {"$exists": True}
    }, 
    {"neighbourhood": 1, 'neighbourhood_group':1, 'last_review': 1, 'stars': 1 }
).sort({"last_review":1}).limit(5).skip(5)
)

,_id,stars,neighbourhood_group,neighbourhood,last_review
0,67153ea21f6062e2244c78b1,4.83,Eixample,la Sagrada Família,2018-06-24
1,67153ea21f6062e2244c79aa,3.57,Eixample,la Nova Esquerra de l'Eixample,2018-08-30
2,67153ea21f6062e2244c6a6b,NaN,Eixample,la Dreta de l'Eixample,2019-01-03
3,67153ea21f6062e2244c7cda,NaN,Eixample,Sant Antoni,2019-01-13
4,67153ea21f6062e2244c6a96,4.75,Eixample,la Nova Esquerra de l'Eixample,2019-06-30

## `count_documents()`

Se utiliza para contar el número de documentos que cumplen ciertos criterios en una colección. Esto puede ser útil para obtener el tamaño de una colección o para realizar operaciones de agregación sobre un subconjunto de documentos.

La sintaxis básica es:

```python
db.collection.count_documents(query)
```

Donde:
- `db.collection` es el nombre de la colección en la que se realizará la búsqueda,

- `query`: es un objeto de consulta opcional que especifica los criterios para contar los documentos. Si no se proporciona un objeto de consulta, `count_documents()` contará todos los documentos en la colección.

In [38]:
# hasta ahora hemos estado haciendo la misma query, pero podríamos saber cuántos resultados nos devuelve la query, por eso vamos a contarlos usand el método 'count_documents()``
# Fijaos como este método no va acompañado del método 'find()'!!!!
bcn.count_documents({
    'neighbourhood_group': {"$in": ["Gràcia", "Eixample"]}, 
    "price" : {"$gt": 35}, 
    "room_type": "Private room", 
    "last_review": {"$exists": True}
    }
)

647

# Agregaciones en Mongo

Las agregaciones son operaciones que permiten procesar datos de forma dinámica y flexible en una colección, utilizando una variedad de etapas que se aplican secuencialmente a los documentos. Estas etapas pueden realizar diversas operaciones, como filtrado, agrupación, proyección, ordenamiento, y aplicar funciones de agregación (por ejemplo, sumar, contar, promediar, etc.).

Las agregaciones son extremadamente útiles para los analistas de datos por varias razones:

- **Análisis avanzado de datos**: Las agregaciones permiten realizar análisis complejos y avanzados en los datos almacenados en una base de datos. Podremos realizar operaciones como agrupar datos, calcular estadísticas, y realizar cálculos basados en múltiples campos.

- **Flexibilidad**: Las agregaciones son altamente flexibles y pueden adaptarse a una amplia gama de requisitos de análisis. 

- **Rendimiento**: Las agregaciones pueden ejecutarse de manera eficiente incluso en grandes conjuntos de datos, lo que permite realizar análisis rápidos y eficientes en tiempo real.

Las principales agregaciones que tenemos en Mongo son: 


1. **$match**: Filtra los documentos de la colección según un criterio específico. Es similar al `find()` que hemos estado viendo hasta ahora.

   ```python
   { $match: { campo: valor } }
   ```

2. **$group**: Agrupa los documentos según un campo o una expresión y calcula estadísticas sobre los documentos agrupados. Es como el groupby de SQL que conocemos. 

   ```python
   { $group: { _id: "$campo", nueva_col: { $sum: 1 } } }
   ```

3. **$project**: Proyecta campos específicos de los documentos y puede incluir/excluir campos, crear nuevos campos calculados o renombrar campos existentes. Igual que estuvimos viendo hasta ahora. 

   ```python
   { $project: { campo: 1, _id: 0 } }
   ```

4. **$sort**: Ordena los documentos según un campo específico, en orden ascendente o descendente.

   ```python
   { $sort: { campo: 1 } }
   ```

5. **$limit**: Limita el número de documentos que se pasan a la siguiente etapa de la agregación.

   ```python
   { $limit: 10 }
   ```

6. **$skip**: Omite un número específico de documentos antes de pasar al siguiente etapa de la agregación.

   ```python
   { $skip: 5 }
   ```

7. **$lookup**: Realiza una "unión" entre dos colecciones, recuperando documentos de una colección que coinciden con los documentos de la colección actual. Podríamos compararlo con los joins de SQL. 

   ```python
   {
     $lookup:
       {
         from: "otra_coleccion",
         localField: "campo_local",
         foreignField: "campo_foraneo",
         as: "nombre_nuevo"
       }
   }
   ```

In [39]:
# imaginemos ahora que queremos saber los 5 anfitriones con más alojamientos en la base de datos
# como hemos hablado, esto es lo que en SQL sería un groupby. 

query_top_5 = [
    #  Aquí estamos agrupando por la columna 'host_id' (esto lo especificamos usando la clave '_id')
    # en este caso, en lugar de sumar un valor numérico específico, se utiliza `$sum: 1`. Esto significa que, en cada grupo generado por `host_id`, se contará el número de documentos en ese grupo.
    { "$group": { "_id": "$host_id", "total_alojamientos": { "$sum": 1 } } },  

    # aquí estamos eligiendo las columnas que querremos en nuestros resultados
    { "$project": { "_id": 1, "total_alojamientos": 1 , "host_name": 1} },  

    # por último ordenamos los resultados de mayor a menor en base a la columna creada en el agrupamiento 
    { "$sort": { "total_alojamientos": -1 } }, 

    # limitamos los resultados a 5
    {"$limit": 5}
]

# ejecutamos la consulta
df_top_anfi = pd.DataFrame(bcn.aggregate(query_top_5))

# mostramos los resultados
df_top_anfi

         _id  total_alojamientos
0  346367515                 315
1  357946540                 261
2   32037490                 172
3    1447144                 166
4  265193861                 140

In [40]:
# la query anterior estar bien, pero los id_ de los anfitriones no nos aportan mucho valor, en esta query vamos a añadir el nombre de los anfitriones 
query_top_5_2 = [
    # Agrupar por host_id y obtener el nombre del anfitrión
    {
    "$group": { # iniciamos el proceso de agrupación
            "_id": "$host_id", #  Especificamos el campo por el cual queremos agrupar los documentos.  
            "anfitrion": { "$first": "$host_name" }, # El operador $first se utiliza para seleccionar el primer valor de host_name encontrado en cada grupo.
            "total_alojamientos": { "$sum": 1 } # Calcular el número total de alojamientos en cada grupo. 
             }
    },  

    # Proyectar los campos deseados en los resultados
    { "$project": { "_id": 1, "total_alojamientos": 1, "anfitrion": 1 } },  

    # Ordenar los resultados de mayor a menor en base al número total de alojamientos
    { "$sort": { "total_alojamientos": -1 } }, 

    # Limitar los resultados a 5
    {"$limit": 5}
]

df_top_afi2 = pd.DataFrame(bcn.aggregate(query_top_5_2))
df_top_afi2

         _id            anfitrion  total_alojamientos
0  346367515                 Ukio                 315
1  357946540                Enter                 261
2   32037490             SweetInn                 172
3    1447144  Acomodis Apartments                 166
4  265193861         BeBarceloner                 140

In [41]:
# en este caso queremos saber cual es el precio medio de los alojamientos por distrito
query_precio_medio = [
    #Agrupamos los datos por distrito, creando una columna nueva llamada "precio_promedio" resultado de sacar el precio medio por distrito
    { "$group": { "_id": "$neighbourhood_group", "precio_promedio": { "$avg": "$price" } } } , 

    # ordenamos los resultados por el campo nuevo 'precio_promedio' de mayor a menor
    {"$sort": {"precio_promedio": -1}}
]
      

# Ejecutar la consulta de agregación
df_precio_medio = pd.DataFrame(bcn.aggregate(query_precio_medio)).round(2)
df_precio_medio

                   _id  precio_promedio
0       Horta-Guinardó           265.87
1             Eixample           154.78
2           Sant Martí           139.91
3       Sants-Montjuïc           128.17
4            Les Corts           127.36
5  Sarrià-Sant Gervasi           125.42
6               Gràcia           118.64
7         Ciutat Vella           109.33
8          Sant Andreu            71.67
9           Nou Barris            63.11

In [42]:
# compliquemos un poco más la query anterior y supongamos que no queremos sacar la media de todos los distritos, que solo nos interesan los distitos de 'Les Corts', 'Eixample' y 'Gràcia'
# esto lo podríamos hacer filtrando el DataFrame final, pero Mongo nos permite utilizar la sentencia "$match" para filtrar los datos que luego queremos agrupar


# Consulta de agregación para calcular la media de precios por barrio
query_media_precio2 = [

    # filtramos los datos por unos distritos concretos que nos interesan
    { "$match": 
            { "neighbourhood_group": {"$in": ['Les Corts', 'Eixample' , 'Gràcia']} } 
    }, 

    # agrupamos los datos en base al campo de distrito y creamos una columna nueva llamada 'precio_promedio' resultado de calcular la media del precio
    { "$group": 
            { "_id": '$neighbourhood_group', "precio_promedio": { "$avg": "$price" } } 
    } 
]

# Ejecutar la consulta de agregación
df_precio_medio2 = pd.DataFrame(bcn.aggregate(query_media_precio2))
df_precio_medio2

         _id  precio_promedio
0  Les Corts       127.358566
1   Eixample       154.775118
2     Gràcia       118.635147

En esta query de MongoDB estamos realizando una operación de agregación utilizando el operador `$lookup`, seguido de una etapa de proyección con el operador `$project`.


   - `from`: Especificamos la colección con la que queremos realizar la unión, en este caso, la colección "Madrid".

   - `localField`: Especificamos el campo de la colección actual (`host_id`) que se utilizará para hacer la unión.

   - `foreignField`: Especificamos el campo de la colección especificada en `from` (`host_id`) que se utilizará para hacer la unión.

   - `as`: Especificamos el nombre del campo que contendrá los resultados de la unión en los documentos de la colección actual. En este caso, se utiliza el alias "alojamientos_madrid".

   - `$project`: Después de la unión, aplicamos una etapa de proyección para incluir solo los campos específicos en la salida. En esta etapa:


   - `{"alojamientos_madrid": 1}`: Incluimos solo el campo "alojamientos_madrid" en la salida, con un valor de `1` que indica que se debe incluir en la salida.

En resumen, esta query realiza una unión entre la colección actual y la colección "Madrid" en base al campo `host_id`, y luego proyecta solo el campo "alojamientos_madrid" en la salida.

In [43]:
pipeline = [
    { # realiza una "unión" entre dos colecciones
        "$lookup": {
            # Especificamos la colección con la que queremos realizar la unión
            "from": "Madrid",

            # Campo de unión en la colección de 'Madrid'
            "localField": "host_id",  

            # Campo de unión en la colección 'Barcelona'
            "foreignField": "host_id",  

            # Alias para los documentos de la colección 'Madrid'
            "as": "alojamientos_madrid"  
        }
    }, 
    {
        "$project": {
            "alojamientos_madrid": {
                "$mergeObjects": "$alojamientos_madrid"  # Incluye todos los campos de los documentos originales
            }
        }
    }
]

resultados = pd.DataFrame(bcn.aggregate(pipeline))

# mostramos 3 resultados aleatorios
resultados.sample(3)

                           _id alojamientos_madrid
5580  67153ea21f6062e2244c7f7d                  {}
2165  67153ea21f6062e2244c7226                  {}
3876  67153ea21f6062e2244c78d5                  {}

# Fechas con Mongo

Al igual que con los datos de tipo numérico o de texto, con MongoDB podemos gestionar datos de tipo fecha, los cuales son fundamentales para muchas aplicaciones que necesitan manejar información temporal, como registros de eventos, horarios de transacciones y datos de series temporales. Estas fechas se almacenan en MongoDB con el tipo de dato *datetime*, por ello es imprescindible utilizar la librería *datetime* de python.

MongoDB ofrece una amplia gama de operadores y funciones para realizar consultas basadas en fechas. Estas operaciones permiten recuperar documentos que contienen fechas específicas, están dentro de un rango de fechas o cumplen ciertas condiciones temporales. Para ello podemos utilizar todas las herramientas de consulta que hemos aprendido durante este jupyter. Veamos varios ejemplos:

In [44]:
# Vamos a identificar los documentos cuya última reseña sea concretamente en el día 08-07-2023
df_ultima_reseña = pd.DataFrame(bcn.find({"last_review": {"$eq":datetime(year = 2023,month = 7,day = 8)}},{"id": 1, "_id":0}))
df_ultima_reseña.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [45]:
# Además de por fechas concretas podemos identificar documentos con un intervalo de fechas. Vamos a recuperar los alojamientos que hayan tenido alguna reseña durante el año 2023
df_2023 = pd.DataFrame(bcn.find({"last_review": {"$gte":datetime(year = 2023,month = 1,day = 1), "$lt":datetime(year = 2024, month = 1, day =1)}}))
df_2023.head()

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude
0,67153ea21f6062e2244c69b1,Rental unit in Barcelona,4.33,2 baths,6 beds,3 bedrooms,71615,Mireia Maria,Eixample,la Sagrada Família,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062,41.4056,2.1726
1,67153ea21f6062e2244c69b2,Rental unit in Barcelona,4.69,2 baths,6 beds,4 bedrooms,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926,41.4080,2.2149
2,67153ea21f6062e2244c69b3,Rental unit in Sant Adria de Besos,4.77,2 baths,4 beds,3 bedrooms,90417,Etain (Marnie),Sant Martí,el Besòs i el Maresme,Entire home/apt,200.0,3,75,2023-11-25,0.48,2,300,11,HUTB005057,41.4124,2.2198
3,67153ea21f6062e2244c69b4,Rental unit in Barcelona,4.48,1.5 baths,3 beds,2 bedrooms,135703,Nick,Gràcia,el Camp d'en Grassot i Gràcia Nova,Entire home/apt,79.0,1,99,2023-10-18,0.66,3,297,16,HUTB-001722,41.4057,2.1702
4,67153ea21f6062e2244c69b6,Rental unit in Barcelona,4.71,1 bath,2 beds,2 bedrooms,1013855,Alejandro,Gràcia,la Vila de Gràcia,Entire home/apt,120.0,4,244,2023-12-11,1.67,1,129,44,HUTB-004315,41.3988,2.1589

In [46]:
# Por ende, si podemos identificar documentos en un rango de fecha podemos buscar documentos anteriores o posteriores a una fecha concreta
# Por ejemplo, vamos a buscar todos los alojamientos con reseñas de este año 2024
df_2024 = pd.DataFrame(bcn.find({"last_review": {"$gte":datetime(year = 2024,month = 1,day = 1)}},{"id": 1, "_id":0}))
df_2024

Empty DataFrame
Columns: []
Index: []

# Índices

Los índices son estructuras de datos que mejoran la eficiencia de las consultas al permitir un acceso más rápido a los datos. MongoDB ofrece una variedad de tipos de índices y estrategias de indexación para adaptarse a diferentes situaciones y consultas. La importancia de estos índices radica en: 

- Como ya hemos dicho, mejoran el rendimiento de las consultas al acelerar la recuperación de datos.

- Ayudan a optimizar las operaciones de lectura al reducir la cantidad de documentos que deben ser escaneados.

- Facilitan la búsqueda y clasificación de datos, especialmente en grandes colecciones.

Los tipos de índices que tenemos en Mongo son: 


- **Índices Simples**: Estos son los índices más básicos en MongoDB y se crean en un solo campo. Son útiles para mejorar el rendimiento de las consultas que filtran datos basados en un solo campo.

    ```python
    # Ejemplo de creación de un índice simple en un campo "edad"
    db.collection.create_index("edad")
    ```

- **Índices Compuestos**: Estos índices se crean en múltiples campos y son útiles para consultas que filtran o ordenan datos basados en múltiples campos.

    ```python
    # Ejemplo de creación de un índice compuesto en dos campos "nombre" y "apellido"
    db.collection.create_index([("nombre", pymongo.ASCENDING), ("apellido", pymongo.ASCENDING)])
    ```

- **Índices de Texto**: Estos índices se utilizan para realizar búsquedas de texto completo en campos de tipo cadena de caracteres. Son útiles para realizar consultas de búsqueda de texto en grandes conjuntos de datos.

    ```python
    # Ejemplo de creación de un índice de texto en un campo "descripcion"
    db.collection.create_index([("descripcion", "text")])
    ```

- **Índices Geoespaciales**: Estos índices se utilizan para consultas espaciales en datos que contienen información geoespacial, como coordenadas de ubicación. Son útiles para analizar datos basados en su ubicación geográfica.

    ```python
    # Ejemplo de creación de un índice geoespacial en un campo "ubicacion"
    db.collection.create_index([("ubicacion", pymongo.GEOSPHERE)])
    ```

- **Índices de Hash**: Estos índices se utilizan para mejorar el rendimiento de las consultas que realizan búsquedas en campos que contienen datos hash, como hashes de contraseñas o tokens de autenticación.

    ```python
    # Ejemplo de creación de un índice de hash en un campo "contraseña"
    db.collection.create_index([("contraseña", pymongo.HASHED)])
    ```

In [47]:
# Hagamos un primer ejemplo para ver como afecta a la colección
bcn.create_index({'host_id':1})

'host_id_1'

# Consultas Geoespaciales

En MongoDB, las consultas geoespaciales permiten realizar operaciones espaciales en datos que contienen información de ubicación geográfica. Esto es especialmente útil cuando se trabaja con conjuntos de datos que incluyen coordenadas geográficas, como puntos de interés, ubicaciones de clientes o datos de seguimiento de vehículos.  Nos va a permitir encontrar ubicaciones cercanas a punto específico, calcular distancias entre puntos, y realizar análisis espaciales avanzados. 

Los principales métodos de consulta geoespacial que tenemos en Mongo son: 


1. **Near**: Este método se utiliza para encontrar documentos cerca de un punto geoespacial específico. Se puede configurar para buscar documentos dentro de una distancia máxima definida del punto de referencia.

2. **GeoNear**: Este método nos permite realizar consultas que devuelven documentos ordenados por proximidad a un punto de referencia. A diferencia con el método `near` nos va a devolver la distancia que hay desde cada uno de los documentos al punto de referencia. 

2. **geoWithin**: Permite buscar documentos que se encuentren dentro de una forma geoespacial específica, como un polígono o un círculo. Esto es útil para encontrar ubicaciones dentro de áreas específicas definidas por coordenadas geográficas.

3. **geoIntersects**: Este método se utiliza para buscar documentos cuyas formas geoespaciales intersecten con una forma geoespacial específica. Puede ser útil para encontrar documentos que se superponen con áreas geográficas específicas.

4. **GeoWithin**: Similar al método `Within`, pero optimizado para buscar documentos dentro de un polígono definido por coordenadas geográficas.

5. **GeoIntersects**: Similar al método `Intersects`, pero optimizado para buscar documentos que intersecten con una forma geoespacial definida.


Al trabajar con consultas geoespaciales en MongoDB, es importante tener en cuenta la estructura de los datos geoespaciales, la indexación adecuada para mejorar el rendimiento de las consultas y las proyecciones para seleccionar y mostrar información relevante. Además, es fundamental comprender los distintos métodos de consulta geoespacial y cómo se pueden aplicar en diferentes escenarios de aplicación.


## `near()`

Se utiliza para buscar documentos que están cerca de un punto geográfico específico en una colección que contiene datos geoespaciales. Este método es útil para encontrar lugares cercanos a una ubicación dada, como restaurantes cercanos, tiendas o puntos de interés.

La sintaxis básica es:

```python
db.collection.find({
    location_field: {
        $near: {
            $geometry: {
                type: "Point",
                coordinates: [longitude, latitude]
            },
            $maxDistance: max_distance_in_meters
        }
    }
})
```
Donde: 

- `collection`: El nombre de la colección en la que se realizará la búsqueda.

- `location_field`: El nombre del campo que contiene los datos geoespaciales.

- `$near`: El operador que indica que se realizará una búsqueda de documentos cerca de un punto geográfico.

- `$geometry`: Un objeto que define el tipo de geometría y las coordenadas del punto de referencia.

- `type`: El tipo de geometría, que generalmente es `"Point"` para coordenadas geográficas.

- `coordinates`: Un array que especifica las coordenadas `[longitud, latitud]` del punto de referencia.

- `$maxDistance`: La distancia máxima en metros dentro de la cual se buscarán los documentos.

<div style="background-color: #F74646; padding: 10px; color: black;">
Cuando trabajamos con geoqueries, tendremos que hacer dos cosas: 

- En primer lugar, es necesario convertir los campos de latitud y longitud a un formato de geometría específico, como el formato GeoJSON, para realizar consultas. Esto es así ya que Mongo utiliza un sistema de índices geoespaciales para optimizar las consultas basadas en la ubicación y para que pueda interpretar y procesar estas consultas correctamente. El formato que debe de tener el nuevo campo que creemos es: 

    ```python
    "geometry": {"type": "Point",
                "coordinates": ["$latitude", "$longitude"]}
    ```

- En segundo lugar, es esencial crear un índice `2dsphere` en los campos de ubicación. Sin este índice, MongoDB tendría que explorar toda la colección para cada consulta geoespacial, lo que sería muy ineficiente, especialmente en colecciones grandes. 
</div>

In [48]:
# Vamos con el primer paso, la crearción del campo "geometry" 
# Actualizamos todos los documentos de la colección utilizando el método 'update_many()' 
# Añadimos un nuevo campo llamado 'geometry' a todos los documentos de tipo 'Point' con las coordenadas que tenemos en la BBDD

actualizacion = bcn.update_many(
    {},  # Filtro vacío para que coincida con todos los documentos en la colección
    [
        {
            "$set": { # usamos el método set para crear un campo nuevo en todos los documentos
                "geometry": {  # Especificamos el nombre del nuevo campo que queremos crear
                    "type": "Point",  # Tipo de geometría
                    "coordinates": ["$latitude", "$longitude"]  # Coordenadas de longitud y latitud, utilizando las columnas que tenemos en neustra base de datos
                }
            }
        }
    ]
)

# Comprobamos que todos los campos se han actualizado con  éxito
print("Documentos actualizados:", actualizacion.modified_count)

Documentos actualizados: 14283

In [49]:
# Vamos ahora con el segundo paso, la creación del índice 2dsphere para poder hacer las geoqueries
# para eso usaremos el método 'create_index()'  que aprendimos en el apartado anterior.
bcn.create_index([("geometry", '2dsphere')])

'geometry_2dsphere'

In [50]:
# definimos los parámetros de la búsqueda
geopoint = {'type': 'Point', 'coordinates':[41.40369,2.17433]}
metros = 500

# llamamos a la función para realizar la query
find_near_df = sm.query_near(geopoint, metros, bcn, "geometry")
find_near_df.head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,latitude,longitude,geometry,last_review,reviews_per_month,license
0,67153ea31f6062e2244ca060,Rental unit in Barcelona,New,2 baths,3 beds,2 bedrooms,451665647,Jim,Eixample,la Sagrada Família,Entire home/apt,91.0,31,0,1,135,0,41.4033,2.1742,"{'type': 'Point', 'coordinates': [41.4033, 2.1...",NaT,NaN,NaN
1,67153ea21f6062e2244c77bb,Rental unit in Barcelona,NaN,NaN,1 bed,1 bedroom,85099057,Alfredo,Eixample,la Sagrada Família,Private room,36.0,5,1,2,364,1,41.4034,2.1747,"{'type': 'Point', 'coordinates': [41.4034, 2.1...",2023-11-17,1.0,NaN

## `geoNear()`

El método `geoNear` se utiliza para realizar consultas geoespaciales que devuelven documentos ordenados por proximidad a un punto de referencia. Su sintaxis básica es la siguiente:

```python
db.collection.geoNear({
    near: { type: "Point", coordinates: [longitud, latitud] },
    spherical: True,
    maxDistance: distancia_maxima,
    query: { <opcional: filtros adicionales> },
    distanceField: "<opcional: campo para almacenar la distancia>", 
    distanceMulyiplier: 1
})
```

- `near`: Especifica el punto de referencia para la consulta, con las coordenadas de longitud y latitud.

- `spherical`: Indica si se debe usar la geometría esférica para calcular distancias en la Tierra.

- `maxDistance`: Opcionalmente, establece la distancia máxima en metros desde el punto de referencia.

- `query` (opcional): Permite aplicar filtros adicionales a los documentos antes de calcular la proximidad.

- `distanceField` (opcional): Define el nombre del campo donde se almacenará la distancia del documento al punto de referencia.

- `distanceMultiplier` (opcional): Se utiliza para ajustar la distancia calculada entre los documentos y el punto de referencia especificado. Por defecto, MongoDB devuelve la distancia en metros entre los documentos y el punto de referencia. Sin embargo, si se especifica un valor para `distanceMultiplier`, MongoDB multiplicará la distancia calculada por este valor antes de devolverla. Esto puede ser útil para convertir la distancia a una unidad diferente, como kilómetros o millas, según sea necesario para la aplicación. Por ejemplo, si se establece `distanceMultiplier` en `0.001`, la distancia se devolverá en kilómetros en lugar de metros.



<div style="background-color: #F74646; padding: 10px; color: black;">
Cuando hablamos del método near() dijimos que antes de trabajar con este tipo de queries debíamos:

- Crear un campo nuevo de geometry 

- Crear un índice '2dsphere'

**En el caso de este tipo de geoqueries también tendremos que hacerlo.** En este caso ya los tenemos creados, pero en caso contrario deberíamos hacerlo antes de nada. 
</div>


---


<div style="background-color: #F74646; padding: 10px; color: black;">
A diferencia del método near(), que se utiliza en combinación con el método find(), el geoNear() se utiliza dentro del marco de la agregación de MongoDB. Esto se debe a que geoNear devuelve un conjunto de resultados ordenados por proximidad geoespacial al punto de referencia especificado. Al utilizar la agregación, podemos realizar operaciones más avanzadas y flexibles, como el filtrado, la proyección y el ordenamiento de los resultados antes de que se devuelvan. Lo que permite realizar consultas más complejas y personalizadas con datos geoespaciales.
</div>

In [53]:
# llamamos a la función 
find_geonear_df = sm.query_geonear(geopoint, "distance", metros, bcn)
find_geonear_df.head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,latitude,longitude,geometry,distance,last_review,reviews_per_month,license
0,67153ea31f6062e2244ca060,Rental unit in Barcelona,New,2 baths,3 beds,2 bedrooms,451665647,Jim,Eixample,la Sagrada Família,Entire home/apt,91.0,31,0,1,135,0,41.4033,2.1742,"{'type': 'Point', 'coordinates': [41.4033, 2.1...",45.733092,NaT,NaN,NaN
1,67153ea21f6062e2244c77bb,Rental unit in Barcelona,NaN,NaN,1 bed,1 bedroom,85099057,Alfredo,Eixample,la Sagrada Família,Private room,36.0,5,1,2,364,1,41.4034,2.1747,"{'type': 'Point', 'coordinates': [41.4034, 2.1...",52.317361,2023-11-17,1.0,NaN

## geoWithin

Se utiliza para buscar documentos dentro de una forma geoespacial específica, como un polígono o un círculo. Permite filtrar los documentos de una colección según su ubicación en relación con una región geoespacial predefinida.

Su sintaxis básica es: 

```python
db.collection.find({
    location_field: {
        $geoWithin: {
            $geometry: {
                type: "<Polygon|MultiPolygon|Circle>",
                coordinates: [/* Coordenadas del polígono o círculo */]
            }
        }
    }
})
```

- `db.collection`: El nombre de la colección en la que quieres realizar la consulta.

- `location_field`: El nombre del campo que contiene los datos geoespaciales en los documentos de la colección.

- `$geoWithin`: Indica que estás realizando una consulta para encontrar documentos dentro de una región geoespacial.

- `$geometry`: Define la forma geoespacial que se utilizará para la consulta.

  - `type`: Tipo de forma geoespacial, puede ser "Polygon" (polígono), "MultiPolygon" (multi-polígono) o "Circle" (círculo).

  - `coordinates`: Coordenadas que definen la forma geoespacial. Para polígonos y círculos, las coordenadas deben especificarse de acuerdo con el formato GeoJSON.



<div style="background-color: #F74646; padding: 10px; color: black;">
Cuando hablamos del método near() dijimos que antes de trabajar con este tipo de queries debíamos:

- Crear un campo nuevo de geometry 

- Crear un índice '2dsphere'

**En el caso de este tipo de geoqueries también tendremos que hacerlo.** En este caso ya los tenemos creados, pero en caso contrario deberíamos hacerlo antes de nada. 
</div>

In [54]:
pd.DataFrame(bcn.find({
    "geometry": {
        "$geoWithin": {
            "$geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                      [41.42509089817321, 2.121305005324473],
                      [41.38444384057391, 2.121305005324473],
                      [41.38444384057391,2.2096306226741547],
                      [41.42509089817321, 2.2096306226741547],
                      [41.42509089817321, 2.121305005324473]
                    ]
                ]
            }
        }
    }
})
).head(2)

,_id,name,stars,bath_number,bed_number,rooms_number,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,latitude,longitude,geometry
0,67153ea31f6062e2244c9665,Rental unit in Barcelona,4.77,1 shared bath,1 bed,1 bedroom,177860605,Valentina,Sant Martí,la Verneda i la Pau,Private room,45.0,5,22,2023-11-17,2.40,2,164,22,Exempt,41.4246,2.2018,"{'type': 'Point', 'coordinates': [41.4246, 2.2..."
1,67153ea21f6062e2244c76f8,Rental unit in Barcelona,4.25,1 shared bath,1 bed,2 bedrooms,15738246,G. Carolina,Sant Martí,la Verneda i la Pau,Private room,80.0,1,4,2022-09-02,0.05,3,363,0,Exempt,41.4230,2.2034,"{'type': 'Point', 'coordinates': [41.423, 2.20..."